/* Required for ui-bootstrap */
.nav, .pagination, .carousel, .panel-title a {
 cursor: pointer; 
}

/* Size of entire interface */
@media (min-width: 768px) {
  .container {
    max-width: 1280px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Future code here */
}

.container-fluid.thoughtswap-wrapper {
    padding-top: 80px;
}

.row {
  padding-left: 20px;
  padding-right: 20px;
}

/* ~~ Begin Non-Framework Code ~~ */

/* ~~ STUDENT VIEW ~~ */
.left-action-area > .panel {
  max-height: 598px;
}

.prompt-section {
  min-height: 124px;
  font-size: 14pt;
}

.input-section {
  min-height: 474px;
}

.history-section {
  min-height: 598px;
  max-height: 598px;
}

/* ~~ TEACHER VIEW ~~ */
/*.control-section {
  min-height: 598px;
  max-height: 598px;
}*/

/*.gallery-section {
  min-height: 598px;
  max-height: 598px;
}*/

.control-section th {
  font-size: 9pt;
  font-variant: small-caps;
  text-align: center;
}

table {
  text-align: center;
}

.control-section {

}

/* ~~ LOGIN/ REGISTRATION VIEWS ~~ */
.btn-large {
  text-align: center;
  font-size: 30pt;
  vertical-align: middle;
  padding: 10px 20px 10px 20px;
}


/* ~~ ALL VIEWS ~~ */
body {
  background-color: #F9F9F9;
}

/* Overall Navbar Structure */
.navbar {
  background-color: #2B54A3;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4);
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

/* Individual Navs */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FFFFFF;
  background-color: rgba(124, 198, 243, .54);
  font-size: 16pt;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #FFFFFF;
  font-size: 16pt;
}

.navbar-default, .navbar-collapse, .navbar-default, .navbar-form {
  border: 0px solid white;
}

/* ~~~ */

.btn {
  margin: 15px 15px 15px 0px;
  background-color: #2B54A3;
}



.data-box {
  max-height: 494px;
  overflow-y: auto;
}

.data-box > .question {
  max-height: 224px;
  overflow-y: auto;
}

.thoughts {
  list-style-type: none;
  padding-left: 0;
  display: -webkit-box;
  -webkit-box-orient: horizontal;

  display: -moz-box;
  -moz-box-orient: horizontal;

  display: box;
  box-orient: horizontal;
}

/*.galleryThought {
  margin-top: 10px;
  padding: 5px 17px 5px 17px;
  display: inline-block;
  margin-right: 20px; 

  /* Bubble structure */
  /*position: relative;
  background-color:#eee;
  text-align:justify;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
  box-shadow: 0px 0 3px rgba(0,0,0,0.25); */

  /* Grid Behavior */
  /*max-width: 220px;
  min-height: 124px;
}*/

.thought {
  margin-top: 10px;
  width: 140px;
  height: 140px;
  line-height: 20px;
  margin-right: 10px; 
  background-color:#eee;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}

h1, h2, h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}