/* Required for ui-bootstrap */
.nav, .pagination, .carousel, .panel-title a {
 cursor: pointer; 
}

/* Size of entire interface */
@media (min-width: 768px) {
  .container {
    padding-top: 80px;
    max-width: 1280px;
    max-height: 1024;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Future code here */
}

.row {
  padding-left: 20px;
  padding-right: 20px;
}

/* ~~ Begin Non-Framework Code ~~ */

/* ~~ STUDENT VIEW ~~ */
.left-action-area > .panel {
  max-height: 598px;
}

.prompt-section {
  min-height: 124px;
}

.input-section {
  min-height: 474px;
}

.history-section {
  min-height: 598px;
  max-height: 598px;
}

/* ~~ TEACHER VIEW ~~ */
.control-section {
  min-height: 598px;
  max-height: 598px;
}

.gallery-section {
  min-height: 598px;
  max-height: 598px;
}

.control-section th {
  font-size: 9pt;
  font-variant: small-caps;
  text-align: center;
}

table {
  text-align: center;
}

.control-section {

}

/* ~~ ALL VIEWS ~~ */
body {
  background-color: #F9F9F9;
}

.navbar {
  background-color: #2B54A3;
}

.data-box {
  max-height: 494px;
  overflow-y: auto;
}

.thoughts {
  list-style-type: none;
}

.thought {
  margin-top: 10px;
  padding: 5px 17px 5px 17px;
  max-width: 80%;
  display: inline-block;
  margin-right: auto; 

  position: relative;
  background-color:#eee;
  text-align:center;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
  box-shadow: 0px 0 3px rgba(0,0,0,0.25); 
}