<div id="header">

    <div class="logo">
        <a href="#/">
            <img src="resources/alphaLogo.png" alt="ThoughtSwap">
        </a> 
    </div>

    <!-- Reverse order because float right is sequential -->
    <div ng-show="shouldOfferLogin()">
    	<a class="btn btn-sm btn-success pull-right" href="#/login">
	  		Login &nbsp; <i class="glyphicon glyphicon-log-in"></i>
	  	</a>
    </div>
    <div ng-show="userService.isLoggedIn()">
        <a class="btn btn-sm btn-warning pull-right" ng-click="logOut()">
	  		Logout &nbsp; <i class="glyphicon glyphicon-log-out"></i>
	  		<img class="loadIcon" ng-if="dataLoading" src="resources/loading.gif" />
	  	</a>
        <p class="pull-right" id="user">Hello {{userService.user.username}}!</p>
        <i id="user-icon" class="glyphicon glyphicon-user">&nbsp;</i>
    </div>
</div>
