<ts-header></ts-header>
<section>
    <div class="container groups">
        <br>
        <h2>Discussion Groups</h2>
        <button ng-click="createGroup()" class="pull-right btn sml yellow" id="createBtn">
                New Group
        </button> 
        <div class="text-center">
            <img class="loadIcon" ng-if="dataLoading && groups === null" src="assets/img/loading.gif" />
        </div> <br>
        <div ng-show="groups.length === 0" class="alert alert-info text-center">
            You don't seem to have any groups yet. Use the New Group button to get started.
        </div>
        <uib-accordion close-others=false>
            <div uib-accordion-group class="panel-default" ng-repeat="group in groups" is-open="group.isOpen">
                <uib-accordion-heading>
                    <div ng-click="expand($index)">
                        <a ng-href="/facilitator/{{group.id}}" ng-click="nav($event)">
                            <strong> <i class="fa fa-comments"></i>
                                <span class="group-name">{{group.name}}</span>
                            </strong> 
                        </a>
                        <i class="fa fa-plus text-muted pull-right" title="Expand"></i>
                    </div>
                </uib-accordion-heading>
                <h4 class="group-info">Participants:</h4>
                <button class="btn sml yellow pull-right" ng-click="addPerson(group, $event)">
                    +1 Participant
                </button>
                <div ng-repeat=" participant in group.users">
                    {{participant.username}}
                </div>
            </div>
        </uib-accordion>
    </div>
</section>