/* Required for ui-bootstrap */
.nav, .pagination, .carousel, .panel-title a {
 cursor: pointer;
}

html * {
  outline: 0 !important;
}

.loadIcon {
  width: 15px !important;
  height: 15px !important;
  padding: 0px 0px 0px 0px !important;
}

.container-fluid.thoughtswap-wrapper {
    padding-top: 60px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.btn-primary {
  background-color: #2B54A3;
}

#header {
  background-color: #2B54A3;
  width: 100%;
  height: 60px;
  background-color: #2B54A3;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4);
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

#header .btn-group, a.btn {
  margin-top: 13px;
  margin-right: 8%;
}

.btn-warning {
  background-color: #FCB040;
  color: #212121;
}

#user-badge:hover {
  color: #212121;
  cursor: default;
  border-color: transparent;
  border-right-color: rgba(152,95,13,0.1);
  background-color: #FCB040;
}

li#logout i {
  display: inline;
}

#header img {
  width: 165px;
  height: 60px;
  padding: 10px 0px 10px 10px;
  margin-left: 8%;
}

#header p {
  display: inline;
  color: #FFFFFF;
  float: right;
  margin: 18px 24px 0px 0px;
}

#header div {
  display: inline;
}

#user-icon {
  color: #FFFFFF;
  float: right;
  margin: 22px 0px 0px 0px;
}

.component {
  margin-top: 3%;
}

body {
  font: 12pt 'Titillium Web', sans-serif;
}

#prompt-display {
  width: 100%;
}