.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
}

.left {
	width: 60%;
	float: left;
	margin-left: 3%;
}

.right {
	width: 33%;
	float: right;
	margin-right: 3%;
}

.panel-body {
	height: 500px;
}

@media screen and (max-width: 940px) {
	.left {
		width: 80%;
		float: initial;
		margin-left: auto;
		margin-right: auto;
	}

	.right {
		width: 80%;
		float: initial;
		margin-left: auto;
		margin-right: auto;
	}

	.panel-body {
		height: 150px;
	}
}
