<ts-header></ts-header>
<div class="container-fluid">
  <div class="col-md-8">
    <div ng-show="attemptedFacilitator" class="alert alert-info">
      Are you trying to act as Facilitator? If so, 
      <a href="#/login/facilitator?participant"><strong>this might help</strong></a>
    </div>
    <div class="well well-lg" id="prompt">
      <h4>Prompt:</h4>
      <p>{{ prompt.content }}</p>
    </div>

    <!--[if lt IE 9]>
      <form  name="form" ng-submit="submitThought()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.thought.$dirty && form.thought.$error.required }">
            <textarea rows="5" name="thought" id="thought" class="form-control" ng-model="thought" required> </textarea>
            <span ng-show="form.thought.$dirty && form.thought.$error.required" class="help-block">You must enter a thought before submitting</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Submit</button>
              
            <a href="#/" ng-click="logout()" class="btn btn-link pull-right">Logout</a>
        </div>
      </form>
    <![endif]-->

    <form name="form" ng-submit="submitThought()" role="form" ng-show="!viewingDistribution">
        <!-- Rich Text Editor, hidden input ensures it is part of form -->
          <div focus-contenteditable text-angular ng-model="htmlThought" name="thoughtForm" id="thoughtForm"
                   ta-focussed-class="focussed" 
                   ta-toolbar=" [['p','quote'],
                                ['bold','italics','underline','ul','ol'],
                                ['justifyLeft','justifyCenter','justifyRight','indent','outdent'],
                                ['insertImage','insertLink']]"> 
                                <!-- 'pre' (code) functionality in first block? -->
          </div>
          <input type="hidden" name="thoughtForm" id="thoughtForm" ng-model="htmlThought" required />
        <!-- -->
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <div id="distributed-thought" ng-if="viewingDistribution">
      <h5>Received Thought:</h5>
      <div ng-bind-html="distributedThought.content">
      </div>
      <!-- <h5>Group Color</h5> -->
      <!-- <select class="form-control" ng-model="groupSelection.selectedGroupId" ng-options="item.id as item.name for item in possibleGroups track by item.id">
      </select> -->
      <!-- Single button -->
      <div class="btn-group" dropdown is-open="status.isopen">
        <button id="single-button" type="button" class="btn btn-primary" dropdown-toggle>
          Group Color <span class="caret"></span>
        </button>
        <ul class="dropdown-menu ts-group-color-selection-item" dropdown-menu role="menu" aria-labelledby="single-button">
          <li role="menuitem" ng-repeat="item in possibleGroups track by item.id"  ng-click="selectGroupColor(item)">
            <div class="ts-swatch" ng-style="styleFor(item)"></div>{{item.name}}
          </li>
        </ul>
      </div>
      <!-- <pre>{{groupSelection.selectedGroupId}}</pre> -->
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default" id="history">
      <div class="panel-body">
        <accordion>
          <accordion-group is-open="status.open">
            <accordion-heading >
              <div ng-click="status.open=!status.open">
                Previous Thoughts
                <i class="pull-right fa" ng-class="{'fa-chevron-down' : status.open, 'fa-chevron-right': !status.open}">
                </i>
                </div>
            </accordion-heading>

            <ul ng-model="htmlThoughts" id="thoughtHistory">
              <li ng-repeat="thought in htmlThoughts" class="thoughtItem">
                <div ng-bind-html="thought.thought"></div> <!-- TODO: add '| htmlTrusted' for filter -->
              </li>
            </ul>
          </accordion-group>
        </accordion>

      </div>
      
    </div>
  </div>  
</div>
