<header>
    <div class="container">
        <h1 class="logo">
            <a href="/" title="Home">
                <img src="assets/project-logo.png" alt="ThoughtSwap" title="Home">
            </a>
        </h1>
        <nav>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/help">Help</a></li>
                <li ng-if="shouldOfferLogin()"><a class="btn sml blue auth" href="/login">Participant Login</a></li>
                <li ng-if="shouldOfferLogin()"><a class="btn sml blue auth" href="/login/facilitator">Facilitator Login</a></li>
                <li ng-show="userService.isLoggedIn()" class="user-control">
                    <div class="btn sml blue auth user-badge">
                        <i class="fa fa-user"></i> {{userService.user.username}}
                    </div>
                    <button type="button" class="btn sml blue auth" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-if="userService.isFacilitator()"><a href="/facilitator/mgmt">Group Management</a></li>
                        <br ng-if="userService.isFacilitator()">
                        <li id="logout">
                            <a href="" ng-click="logOut()">Logout
                                <i class= "fa fa-sign-out"></i>
                                <i class="loadIcon" ng-if="dataLoading" src="assets/img/loading.gif"></i>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>