<ts-header></ts-header>
<div class="container-fluid">
    <div class="col-md-8">
        <!-- <div ng-show="attemptedFacilitator" class="alert alert-info">
            Are you trying to act as Facilitator? If so,
            <a href="/login/facilitator?participant"><strong>this might help</strong></a>
        </div>
        <br> -->
        <div class="container promptDisplay">
            <blockquote>
                <p>{{prompt.content}}</p>
            </blockquote>
        </div>
        <form name="form" ng-submit="submitThought()" role="form" ng-show="!viewingDistribution">
            <!-- Rich Text Editor, hidden input ensures it is part of form -->
            <div focus-contenteditable text-angular ng-model="htmlThought" name="thoughtForm" id="thoughtForm" ta-focussed-class="focussed"
                ta-toolbar=" [['p'],
                        ['bold','italics','underline','ul','ol'],
                        ['insertImage','insertLink']]">
                <!-- 'pre' (code) functionality in first block? -->
            </div>
            <input type="hidden" name="thoughtForm" id="thoughtForm" ng-model="htmlThought" required />
            <div class="form-actions">
                <button type="submit" ng-disabled="form.$invalid" class="btn sml blue submit">Submit</button>
            </div>
        </form>
        <div class="container" id="distributed-thought" ng-if="viewingDistribution">
            <div class="panel-primary">
                <div class="panel-heading">
                    <h5 class="panel-title">Received Thought</h5>
                </div>
                <div class="panel-body" ng-bind-html="distributedThought.content"></div>

                <!-- Start of Agree/Disagree  -->
                
              <div class="panel-footer"> 
                     <form ng-if = "shouldAgree" class="form-inline">
                       <div class="form-group">
                            <div id = "agree-disagree"> I <label class="radio-inline">
                                <input type="radio" ng-model="doesAgree" ng-change="changedAgree()" name="inlineRadioOptions" id="inlineRadio1" ng-value="true"> agree
                            </label>
                            <label class="radio-inline">
                                <input type="radio" ng-model="doesAgree" ng-change="changedDisagree()" name="inlineRadioOptions" id="inlineRadio2" ng-value="false"> disagree
                            </label> with this thought.
                        </div>
                        </div>
                    </form>
                      
                <!-- Hiding Colour Group for now 
                    <div class="btn-group pull-right" uib-dropdown is-open="status.isopen">
                        
                        <button id="single-button" type="button" class="btn sml blue" uib-dropdown-toggle ng-disabled="disabled">
                            Group Color <span class="caret"></span>
                        </button>
                       
                        <ul class="dropdown-menu ts-group-color-selection-item" 
                            uib-dropdown-menu role="menu">
                            <li role="menuitem" ng-repeat="item in possibleGroups track by item.id" ng-click="selectGroupColor(item)">
                                <div class="ts-swatch" ng-style="styleFor(item)"></div>{{item.name}}
                            </li>
                        </ul>
                   
                    </div>
                -->
                </div> 
                <!-- End of Agree/Disagree  -->
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default" id="history">
            <div class="panel-body">
                <uib-accordion>
                    <div uib-accordion-group is-open="status.historyIsOpen">
                        <uib-accordion-heading>
                            <div ng-click="toggleHistory">
                                <span>Previous Thoughts</span>
                                <i class="fa fa-plus text-muted pull-right" title="Expand"></i>
                            </div>
                        </uib-accordion-heading>
                        <ul ng-model="htmlThoughts" id="thoughtHistory">
                            <li ng-repeat="thought in htmlThoughts" class="thoughtItem">
                                <div ng-bind-html="thought.thought"></div>
                                <!-- TODO: add '| htmlTrusted' for filter -->
                            </li>
                        </ul>
                    </div>
                </uib-accordion>
            </div>
        </div>
    </div>
</div>