<ts-header></ts-header>
<section>
  <div class="container controls">
    <div class="well well-lg text-center" id="controlBar">

      <!--added for agree/disagree option dropdown-->
      <div class="dropdown">
      <button class="dropbtn btn sml blue" ng-click = distributeOption()>Distribute</button>
        <div id="distributeOpt" class="dropdown-content">
          <button class="btn sml blue" ng-click="distribute()">With Agree/Disgree</button>
          <button class="btn sml blue" ng-click="distributeWithout()">Without Agree/Disgree</button>
        </div>
      </div>

      <!--Distribute
      <button class="btn sml blue" ng-click="distribute()">Distribute</button> -->
      <button class="btn sml blue" ng-click="newSession()">New Session</button>
      <button class="btn sml blue" ng-click="openPromptInput()">New Prompt</button>


      <!--added for num of agree/disagree-->
      <div>
      <label for="agreed"> Agreed</label>
      <code><span id="numAgreed">{{agreedThoughts}}</span></code>
      <label for="disagreed"> Disagreed</label>
      <code><span id="numDisagreed">{{disagreedThoughts}}</span></code>
    </div>
      <!--end of added for agree/disagree-->

      <!--<button class="btn sml blue" ng-click="testThoughts()">Generate Thoughts</button> -->
      <br>
      <form class="form-horizontal" id="status">
        <label for="numthoughts"><i class="fa fa-comment"></i> Thoughts</label>
        <code><span id="numThoughts">{{participantThoughts.length}}</span></code>
        <label for="numSubmitters"><i class="fa fa-user"></i> Submitters</label>
        <code><span id="numSubmitters">{{numSubmitters}}</span></code>
        <!-- <label for="numConnected"><i class="fa fa-globe"></i>Connected</label>
        <code><span id="numConnected">{{numConnected}}</span></code> -->
      </form>
    </div>
  </div>
  
  <div class="container promptDisplay">
    <blockquote>
      <p>{{prompt.content}}</p>
    </blockquote>
  </div>

  <div class="panel panel-default" id="thoughtFeed">
    <div class="panel-body grid-container">
      <ul dnd-list="participantThoughts" class="grid">
        <li ng-repeat="thought in participantThoughts" dnd-draggable="thought"
            dnd-moved="thoughtMoved($index)" dnd-effect-allowed="move"
            dnd-selected="models.selected = thought" data-index="$index">

          <div class="hidden"></div>
          <div class="thought-item">
            <div class="controls">
              <i id="enlarge" class="fa fa-expand util" ng-morph-overlay="{{ngmSettings}}" ng-morph-model="{{thought}}"></i>
              <i id="delete" class="fa fa-times-circle util" ng-click="deleteThought($index)"></i>
            </div>
            <div class="content" ng-style="thoughtStyle(thought)" ng-bind-html="displayThought(thought)"></div>
          </div>

        </li>
      </ul>
    </div>
  </div>

</section>