<div class="container">
	
	<div class="topLayer">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-3">
		  		<div class="text-center">
		  			<buttton class="btn btn-large btn-primary" id="teacherButton" ng-click="showTeacher()">Teacher</buttton>
		  		</div>
		  	</div>
		  	<div class="col-md-3">
		  		<div class="text-center">
		  			<buttton class="btn btn-large btn-primary" id="studentButton" ng-click="showStudent()">Student</buttton>
		  		</div>
		  	</div>
		  	<div class="col-md-3"></div>
		</div>
	</div>

	<div class="topLayer">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
		  		<p class="text-center">New teacher for ThoughtSwap and want to register? <a href="#/registration">Click Here!</a></p>
		  	</div>
		  	<div class="col-md-3"></div>
		</div>
	</div>


	<div class="teacherLogIn">
		<div class="row">
		  	<div class="col-md-4"></div>
		  	<div class="col-md-4">
		  		<h3>Teacher Login:</h3>
		  		<form role="registration" ng-submit="loginTeacher()">
				  <div class="form-group">
				    <label for="InputUsername">Username:</label>
				    <input type="text" class="form-control" id="InputUsername" placeholder="Username" ng-model="username">
				  </div>
				  <div class="form-group">
				    <label for="InputPassword">Password:</label>
				    <input type="password" class="form-control" id="InputPassword" placeholder="password" ng-model="password">
				  </div>
				  <button type="submit" class="btn btn-primary">Submit</button>
				  <p class="text-danger" ng-show="loginFailed">Login Failed, did you forget your login?.</p>

				  <!--Add in functionality for sending the user an email is this is the case! -->

				</form>
		  	</div>
		  	<div class="col-md-4"></div>
		</div>
	</div>

	<div class="studentLogIn">
		<div class="row">
		  	<div class="col-md-4"></div>
		  	<div class="col-md-4">
		  		<h3>Student Login:</h3>
		  		<form role="registration" ng-submit="loginStudent()">
				  <div class="form-group">
				    <label for="InputUsername">Silly Name:</label>
				    <input type="text" class="form-control" id="InputUsername" placeholder="Username" ng-model="username">
				  </div>
				  <button type="submit" class="btn btn-primary">Submit</button>
				  <p class="text-danger" ng-show="loginFailed">Login Failed, please try a different silly name.</p>
				</form>
		  	</div>
		  	<div class="col-md-4"></div>
		</div>
	</div>

	<div class="row">
		  	<div class="col-md-1"></div>
		  	<div class="col-md-10">
		  		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		  		<small>
		  		Use of ThoughtSwap gives implied permission for us to keep logging data on system use.  This data will utilize your login name to trace your participation over time.
		  		</small>
		  	</div>
		  	<div class="col-md-1"></div>
		</div>

</div>