<h1 class="text-center">Student Name</h1>
<div class="row">
  <div class="col-md-12">
    <!-- Display of other random student's thought -->
    <div class="otherThought">
      <h2>Other Student's Thought:</h2>
        <p class="thought">{{randomThought}}</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <!-- Stucture for displaying the teacher's prompt -->
    <div>
      <h2>Prompt:</h2>
        <p class="question">{{question}}</p>
    </div>

    <!--Structure to allow students to enter their thoughts -->
    <div class="input">
      <h2>New Thought</h2>
      <form role="form" ng-submit="thoughtIn()">
        <textarea class="form-control" placeholder="Enter your thought" ng-model="newThought"></textarea>
        <input class="btn btn-primary" type="submit" value="Send thought">
      </form>
    </div>
  </div>

  <div class="col-md-4">
    <!--Stucture to display all entered thoughts -->
    <div class="history">
      <h2>Previous Thoughts</h2>
      <ol class="thoughts">
        <li class="thought" ng-repeat="thought in thoughtPool">{{thought.thought}}</li>
      </ol>
    </div>
  </div>
</div>