<h1 class="text-center">Teacher Name</h1>
<div class="row">
  <div class="col-md-12">
    
    <!-- Button that initiates distribute functionality  -->
    <button class="btn btn-primary" ng-click="distribute()">Distribute Thoughts</button>

    <!--Button that resets the view for a new session -->
    <button class="btn btn-primary" ng-click="newSession()">New Session</button>

    <!-- Stucture that provides the teacher with information on how much participation they have -->
    <table class="table table-bordered">
      <thead>
        <tr>
          <th># Thoughts</th>
          <th># Submitters</th>
          <th># Connected</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{studentThoughts.length | number}}</td>
          <td>{{num_submitters | number}}</td>
          <td>{{num_connected | number}}</td>
        </tr>
      </tbody>
    </table>

    <!-- Input area for teacher to enter their prompt -->
    <div class="enterPrompt">
    <h2>Prompt:</h2>
      <form role="form" ng-submit="promptIn()">
        <textarea class="form-control" placeholder="Enter a prompt..." ng-model="newPrompt"></textarea>
        <input class="btn btn-primary" type="submit" value="Submit Prompt">
      </form>
    </div>

    <!-- Stucture to allow the teacher to view each student's most recent thoughts -->
    <h2>Student Thoughts</h2>
    <ol class="thoughts">
      <li class="thought" ng-repeat="thought in studentThoughts">{{thought}}</li>
    </ol>
  </div>
</div>