#controlBar {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50px;
	padding: 10px 0px 5px 0px;
}

.panel-body#dashboard {
	min-height: 578px;
	padding: 15px 0px 15px 0px;
}

#groups {
	min-height: 768px;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

#groupHeader {
	display: inline;
	margin: 0px 0px 0px 0px;
	height: 0px;
}

#thoughtList {
	table-layout: fixed;
	padding: 0px 15px 0px 15px;
}

.thoughtItem {
	display: inline-block;
	margin: 10px 10px 10px 10px;
	border: 1px solid #212121;
	border-radius: 10px;
	list-style: none;	
}

.thought-content {
	overflow: hidden;
	padding: 10px 10px 10px 10px;
	width: 282px;
	height: 194px;
}

/*.thoughtItem div {
}*/

.thought i {
	font: 20pt;
	float: right;
	margin-left: 10px;
}

.p {
    width: 524px;
    position: relative;
}

.cB {
    clear:both;
}


/*@media screen and (max-height: 720px) {
	.panel-body {
		height: 450px;
	}

}*/

.delete-thought-icon {
	font-size: 30px;
	margin-right: -20px;
	margin-top: -12px;
	float: right;
}

.highlighted-for_deletion .delete-thought-icon {
	color: red;
}

.highlighted-for_deletion {
	/*color: red;*/
	/*background-color: red;*/
	border-color: red;
}