<ts-header></ts-header>

<div class="container">
 <div class="jumbotron" id="groups">
		<h2 id="groupHeader">Groups</h2>
		<button ng-click="createGroup()" class="pull-right btn btn-primary">New Group</button>
			<br>
				<div class="text-center">
					<img class="loadIcon" ng-if="dataLoading && groups === null" src="resources/loading.gif"/>	
				</div>
			<br>
		
		<div ng-show="groups.length === 0" class="alert alert-info text-center">You don't seem to have any groups. Why not make one? Use the New Group button to get started.</div>

		  <accordion close-others="true">
		    <!-- First Group -->
		    <accordion-group is-open="groups[0].isOpen" ng-if="groups.length > 0" is-disabled="true">
		        <accordion-heading>
		        	<div style="" ng-click="expand(0)">
		            <a style="margin-left: auto;" ng-href="#/facilitator/{{groups[0].id}}" ng-click="nav($event)"><strong>{{groups[0].name}}</strong></a>
		            <button type="button" class="btn btn-warning" ng-click="addPerson(groups[0], $event)">Add 1 more participant to this class</button>
		            <i class="pull-right fa" ng-class="{'fa-chevron-down': groups[0].isOpen, 'fa-chevron-right': !groups[0].isOpen}"></i>
		          </div>
		        </accordion-heading>
		        <div ng-repeat=" participant in groups[0].users">
		        	{{participant.username}}
		        </div>
		    </accordion-group>

		    <!-- All Remaining Groups -->
		    <accordion-group ng-repeat="group in groups.slice(1)" is-open="group.isOpen" is-disabled="true">
		        <accordion-heading>
		        	<div ng-click="expand($index+1)">
		        		<a ng-href="#/facilitator/{{group.id}}" ng-click="nav($event)"><strong>{{group.name}}</strong></a>
		        		<button type="button" class="btn btn-warning" ng-click="addPerson(group, $event)">Add 1 more participant to this class</button>
		            <i class="pull-right fa" ng-class="{'fa-chevron-down': group.isOpen, 'fa-chevron-right': !group.isOpen}"></i>
		          </div>
		        </accordion-heading>
		        <div ng-repeat=" participant in group.users">
		        	{{participant.username}}
		        </div>
		    </accordion-group>
		  </accordion>
		</div>
	</div>
</div>

