<ts-header></ts-header>

<div class="container component">

  <div class="well well-lg text-center" id="controlBar">
    <button class="btn btn-primary"  ng-click="distribute()">Distribute</button>
      &nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-primary" ng-click="newSession()">New Session</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-primary" ng-click="openPromptInput()">New Prompt</button>
    <p></p>
    <span class="fa fa-comment">&nbsp;Thoughts: </span>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <span>{{ numThoughts }}</span>
      &nbsp;&nbsp;&nbsp;&nbsp;
    <span class="fa fa-user">&nbsp;Submitters</span>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <span>{{ numSubmitters }}</span>
      &nbsp;&nbsp;&nbsp;&nbsp;
    <span class="fa fa-globe">&nbsp;Connected</span>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <span>{{ numConnected }}</span>
  </div>

  <textarea disabled class="form-control" id="prompt-display" ng-if="prompt.content.length > 0">{{prompt.content}}</textarea>
  
  <div class="panel panel-default" id="discussion">
    <div class="panel-body" id="dashboard">
      <ul ng-model="participantThoughts" id="thoughtList">
        <li ng-repeat="thought in participantThoughts" class="thoughtItem" ng-class="{'highlighted-for_deletion':highlight===$index}">
          <i class="fa fa-times-circle delete-thought-icon" ng-mouseenter="highlightForDeletion($index)" ng-mouseleave="unHighlightForDeletion()" ng-click="deleteThought($index)"></i>
          <div class="thought-content" ng-bind-html="thought.content"></div>
        </li>
      </ul>
    </div>
  </div>

  <div>
<!--     <script type="text/ng-template" id="promptModal.html">
      
    </script> -->

  
  </div>

</div>