#landing {
  background-image: url('/resources/classroom.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  float: left;
}

#landing p {
  font-family: 'Pacifico', cursive;
  margin-left: 20%;
  margin-top: -24px;
  color: #FFFFFF;
  text-shadow:
    1px 1px 0 #5D5D5D,
    -1px -1px 0 #5D5D5D,  
    1px -1px 0 #5D5D5D,
    -1px 1px 0 #5D5D5D,
    1px 1px 0 #5D5D5D;
}

#landing a { 
	margin-left: 20%; 
}

.bg-warning {
  border-radius: 10px;
}

#info {
  width: 80%;
}

.jumbotron.formBox {
	margin-top: 5%;
}